<form action="index.php?action=;name=" class="block-friend">
    <div class="friend">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="hidden" name="action" value="add">
        <input type="submit" value="Добавить друга">
    </div>
</form>
<hr>