<nav class="clearfix">
    <ul class="main_menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">вторая</a></li>
        <li><a href="#">третья</a></li>
        <li><a href="#">четвертая</a></li>
        <li><a href="#">пятая</a></li>
    </ul>
</nav>