@import "reset.css";

.row:before,
.row:after,
.content:before,
.content:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.row:after,
.content:after,
.clearfix:after {
    clear: both;
}

/*-----------------------*/
body{
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.header{
    background-color: lime;
    height: 100px;
    border-radius: 15px;
    border: 2px #eeffa1 inset;
}
.main_menu{
    float: right;
    margin-top: 2%;
}
.main_menu li{
    float: left;
    margin-right: 20px;

}
.main_menu li:before{
    margin-right: 0;
}
.content{
    background-color: #cfcfff;
    font: 100 16px/24px Verdana, sans-serif;
    border-radius: 15px;
}
h1{
    font-size: 24px;
}
hr{
    margin: 10px;
}
p.friend{
    text-align: center;
    border-bottom: 1px #8996ff solid;
    margin-bottom: 10px;
}
.float-block{
    float: left;
    margin: 10px;
}
.row{

}